[submodule "exercises/front-end/bloco_15/15.1/exercise-todo-list"]
	path = exercises/front-end/bloco_15/15.1/exercise-todo-list
	url = git@github.com:malves0/exercise-todo-list.git

[submodule "exercises/front-end/bloco_15/15.1/exercise-tic-tac-toe"]
	path = exercises/front-end/bloco_15/15.1/exercise-tic-tac-toe
	url = git@github.com:malves0/exercise-tic-tac-toe.git

[submodule "exercises/front-end/bloco_16/16.2/exercises-redux-step-by-step"]
	path = exercises/front-end/bloco_16/16.2/exercises-redux-step-by-step
	url = git@github.com:malves0/exercises-redux-step-by-step.git

[submodule "exercises/front-end/bloco_13/13.1/exercise-dog-image"]
	path = exercises/front-end/bloco_13/13.1/exercise-dog-image
	url = git@github.com:malves0/exercise-dog-image.git
